.widget {
    display: flex;
    flex-direction: column;
    background-color: #aeaeae;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000000;
    align-items: center;
}

.widget:hover {
    background-color: #bfbfbf;
}